h2,
h3,
h4 {
    color: #bb86fc;
    margin-bottom: 20px;
}

h3 {
    font-size: 20px;
}

h4 {
    margin: 10px 0;
}

.title {
    text-align: center;
    margin: 20px 0;
}

.crud {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    width: 90%;
    align-items: flex-start;
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
    background-color: #1e1e1e;
    border-radius: 8px;
}

.metodo {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 260px;
    width: 500px;
}

.listar{
    overflow-y: scroll;
    justify-content: flex-start;
}
ul {
    list-style: none;
    width: 100%;
}

li {
    background-color: #3c3c3c;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: #FFF;
}

li:hover {
    background-color: #535353;
}

.buscarProduto {
    padding: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    background-color: #3c3c3c;
    outline: none;
    color: #e0e0e0;
}

input:focus {
    background-color: #535353;
}

button {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: none;
    border-radius: 4px;
    background-color: #a766f6;
    color: #FFF;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #bb86fc;
}

p {
    color: #FFF;
    text-align: center;
}

.excluirProduto {
    padding: 20px;
}

.adicionarProduto {
    padding: 20px;
}

.erro{
    color: #F00;
    margin-top: 10px;
}

.sucesso {
    color: #0F0;
    margin-top: 10px;
}

