<div class="title">
    <h2>CRUD de Produtos</h2>
</div>
<div class="crud">
    <!-- GET -->
    <div class="metodo listar" *ngIf="produtos.length">
        <h3>Produtos Cadastrados</h3>
        <ul>
            <li *ngFor="let produto of produtos">
                ID: {{produto.id}} |
                Nome: {{produto.nomeProduto}} |
                Valor: R${{ produto.valor }}
            </li>
        </ul>
    </div>
    <div *ngIf="!produtos.length">
        Carregando...
    </div>

    <!-- GET(ID) -->
    <div class="metodo">
        <h3>Buscar Produto por ID</h3>

        <input [(ngModel)]="idGet" placeholder="Digite o ID do produto" />

        <button (click)="buscarProduto()">Buscar Produto</button>

        <div *ngIf="produto">
            <h4>Detalhes do Produto:</h4>
            <ul>
                <li>
                    ID: {{ produto.id }} |
                    Nome: {{ produto.nomeProduto }} |
                    Valor: R${{ produto.valor }}
                </li>
            </ul>
        </div>
        <div *ngIf="erroGet" class="erro">
            <p>Produto não encontrado!</p>
        </div>
    </div>

    <!-- POST -->
    <div class="metodo">
        <h3>Adicionar um produto</h3>
        <input [(ngModel)]="nomeProduto" placeholder="Digite o nome do produto">
        <input [(ngModel)]="valorProduto" placeholder="Digite o valor do produto (ex: 7.99)">
        <button (click)=" adicionarProduto()">Adicionar o Produto</button>
        <div *ngIf="novoProduto">
            <p style="color:#0F0; margin: 10px;">Produto Adicionado com sucesso!</p>
            <ul>
                <li>
                    ID: {{ novoProduto.id }} |
                    Nome: {{ novoProduto.nomeProduto }} |
                    Valor: R${{ novoProduto.valor }}
                </li>
            </ul>
        </div>
        <div *ngIf="erroPost" class="erro">
            <p>Erro ao adicionar o produto!</p>
        </div>
    </div>

    <!-- UPDATE -->
    <div class="metodo">
        <h3>Editar um produto</h3>
        <input [(ngModel)]="idUpdate" placeholder="Digite o ID do produto" />
        <input [(ngModel)]="novoNome" placeholder="Digite o novo nome do produto" />
        <input [(ngModel)]="novoValor" placeholder="Digite o novo valor do produto (ex: 7.99)" />
        <button (click)="excluirProduto()">Editar o Produto</button>


    </div>

    <!-- DELETE -->
    <div class="metodo">
        <h3>Excluir um Produto</h3>
        <input [(ngModel)]="idDelete" placeholder="Digite o ID do produto" />
        <button (click)="excluirProduto()">Excluir o Produto</button>
        <div *ngIf="erroDelete" class="erro">
            <p>Erro ao deletar o produto</p>
        </div>
    </div>
</div>